#label-instructions {
    width:70%;
}

.self-assessment-category>td {
	background-color: #f8f8f8;
	font-weight: bold;
}

.save-button {
	font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    background-color: #ea148c;
    background-image: none;
    text-shadow: none;
    text-overflow: ellipsis;
    text-align: center;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    box-shadow: none;
    margin: 0;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    outline: 0;
    overflow: hidden;
    border: 0 none;
    border-radius: 8px;
    display: inline!important;
}

.reset-survey-btn {
	font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    background-color: #8A8A8A;
    background-image: none;
    text-shadow: none;
    text-overflow: ellipsis;
    text-align: center;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    box-shadow: none;
    margin: 0;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    outline: 0;
    overflow: hidden;
    border: 0 none;
    border-radius: 8px;
    display: inline!important;
}