
<h2 id="label-title"></h2>
<form class="self-assessment-profile-form" style="display: none;">
  <p class="self-assessment-profile-description"></p>
  <div  class="self-assessment-profile-form-table ">
    <table id="self-assessment-survey" class="table table-hover">
      <thead>
        <tr>
          <th id="label-instructions"></th> 
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div> 
  <button class="save-button" type="submit">Evaluer</button>
</form>
<div class="profile-panel" style="display: none;">
  <h4><i class="fa fa-check" style="color: darkgreen; margin: 4px;"></i>Evaluation terminée</h4> 
    <p>Merci de vos réponses.</p>
  <div class="profile-result-table">
    
    <table id="self-assessment-profile" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Profil</th> 
          <th>Correspondance</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
    <table id="self-assessment-responses" class="table table-stripped table-condensed">
      <thead>
        <tr>
          <th>Question</th> 
          <th>Réponse</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <button class="reset-survey-btn" type="submit">Reset</button>
</div>
