<div id="editor-tab" class="wrapper-comp-editor editor-with-buttons">
  <section class="taggedtext-editor editor">
    <textarea class="xml-editor"></textarea>
  </section>

  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">Save</a>
      </li>
      <li class="action-item">
        <a href="#" class="button action-cancel cancel-button">Cancel</a>
      </li>
    </ul>
  </div>
</div>